* {
    font-family: 'Segoe UI';
}

input[type="submit"] {
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: #636363;
    transition: 300ms ease-in-out;
    box-shadow: 0px 4px 20px #ccc;
}

input[type="submit"]:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 20px #777;
}